.game-of-90s {
	height: 100%;
	width: 100%;
	position: relative;
	background:
		url('../../images/90s-game/background.png') no-repeat,
		url('../../images/90s-game/background-road.png') no-repeat;
	background-size: cover, cover;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	&__player {
		height: 300px;
		position: absolute;
		bottom: 20px;
		left: calc(50% - 110px);
	}
}