.game-of-90s {
	height: 100%;
	width: 100%;
	position: relative;
	background:
		url('../../images/90s-game/background.png') no-repeat,
		url('../../images/90s-game/background-road.png') no-repeat;
	background-size: cover, cover;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 30px 0;
	box-sizing: border-box;
	&__player {
		height: 300px;
		position: absolute;
		bottom: 20px;
		left: calc(50% - 110px);
	}
}