.lattice {
	width: 100px;
	height: 100px;
	border: 5px solid #000;
	box-sizing: border-box;
	position: relative;
	&__circle {
		&:before {
			content: '';
			display: inline-block;
			width: 80px;
			height: 80px;
			border: 10px blue solid; 
			box-sizing: border-box;
			border-radius: 50%;
			margin: 5px;
		}
	}
	&__fork {
		&:before, &:after {
			content: '';
			display: inline-block;
			width: 90px;
			height: 10px;
			background-color: red;
			position: absolute;
			border-radius: 3px;
		}
		&:before {
			transform: rotate(135deg) translate(50%, 50%);
			left: 36px;
			top: 10px;
		}
		&:after {
			transform: rotate(45deg) translate(50%, 50%);
			right: 25px;
			top: 4px;
		}
	}
}