@import '../../../scss//mixin.scss';
.lattice-gomoku {
	background-color: #cd9b4d;
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
	&::after, &::before {
		content: '';
		display: inline-block;
		background-color: #4b2f25;
		@include AbsoluteCenter(50px, 3px);

	}
	&::after {
		transform: rotate(90deg);
		width: 51px;
	}
	&__block, &__white {
		@include AbsoluteCenter(40px, 40px);
		border-radius: 50%;
		z-index: 2;
	}
	&__block {
		background-color: #000;
	}
	&__white {
		background-color: #fff;
	}
}