.checkerboard {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	.lattice {
		border-top: none;
		border-left: none;
		&:nth-child(3n) {
			border-right: none;
		}
		&:nth-child(7), &:nth-child(8), &:nth-child(9) {
			border-bottom: none;
		} 
	}
}