body, html {
	margin: 0;
	padding: 0;
}
.layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.title {
		margin-bottom: 20px;
		font-size: 36px;
		&--o {
			color: blue;
		}
		&--x {
			color: red;
		}
	}
	.reset-button {
		margin-top: 20px;
	}
}
